{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Inscription</h1>
        <p class="text-center">Le formulaire d'inscription sera ici.</p>
    </div>
{% endblock %}
