{% extends 'base.html.twig' %}

{% block title %}UE Exemple{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">UE Exemple</h1>
        <p class="text-center">Ceci est la page descriptive d'une UE exemple.</p>
    </div>
{% endblock %}