{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Paramètres</h1>
        <p class="text-center">Ici, vous pouvez configurer vos préférences.</p>
        <!-- Ajoutez ici le contenu des paramètres -->
    </div>
{% endblock %}
