{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Mon Profil</h1>
        <p class="text-center">Ici, vous pouvez consulter et modifier vos informations personnelles.</p>
        <!-- Ajoutez ici le contenu de votre profil -->
    </div>
{% endblock %}
