{% extends 'base.html.twig' %}

{% set fixed_page = true %}
{% set show_navbar = false %}

{% block title %}Présentation{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card bg-blue-darker text-blue-light shadow-lg border-0">
            <div class="card-body text-center py-5">
                <h1 class="display-5 fw-bold mb-4">Présentation de Moodneuille</h1>
                <p class="lead">Cette plateforme a pour but de simplifier l'accès aux cours, aux ressources, et à l'organisation des UE pour les étudiants et enseignants.</p>
            </div>
        </div>
    </div>
{% endblock %}
