{% extends 'base.html.twig' %}

{% block title %}Gestion du Compte{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Gestion du Compte</h1>
        <p class="text-center">Ceci est la page de paramètres et de gestion du compte.</p>
    </div>
{% endblock %}